{% extends 'base.html.twig' %}

{% block title %}Data Table Fondos{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
{{ include('comunes/_menu.html.twig') }}
<main class="container-fluid py-4">
    <h1 class="text-center">Fondos</h1>

    <table id="mitabla">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Isbn</th>
                <th>Edicion</th>
                <th>Publicacion</th>
            </tr>
        </thead>
    </table>
</main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#mitabla').DataTable({
                ajax: 'libros_json'
            });
            /*
            fetch('https://restcountries.eu/rest/v2/all')
               .then(response => response.json())
               .then(data => console.log(data));
            */
        } );
    </script>
{% endblock %}
